---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('
# print(names_ids)
df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [4]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [5]:
def answer_one():
    return df['Gold'].idxmax()
#     return "YOUR ANSWER HERE"
answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [6]:
def answer_two():
    return (df['Gold'] - df['Gold.1']).idxmax()
#     return "YOUR ANSWER HERE"
answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [7]:
def answer_three():
    df_g = df[(df['Gold']>0) & (df['Gold.1']>0)]
    return (abs(df_g['Gold'] - df_g['Gold.1'])/df_g['Gold.2']).idxmax()
#     return "YOUR ANSWER HERE"
answer_three()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [8]:
def answer_four():
    return pd.Series(df['Gold.2']*3 + df['Silver.2']*2 + df['Bronze.2']*1)
#     return "YOUR ANSWER HERE"
answer_four()

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Length: 146, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [9]:
census_df = pd.read_csv('census.csv')
# census_df = census_df.set_index(['STNAME', 'CTYNAME'])
census_df = census_df[census_df['SUMLEV'] == 50]
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [11]:
def answer_five():
#     for index,row in census_df.iterrows():
#         print(row['COUNTY'])
#         for count in len(index[0])            
#         print(len(index[0]) )
#         print(row)
#     return "YOUR ANSWER HERE"
    cen_group = (census_df.groupby('STNAME').agg(np.sum))
#     print(cen_group)
    return (cen_group['COUNTY'].idxmax())
answer_five()

'Texas'

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [12]:
def answer_six():
    cen = census_df.sort_values(['STNAME','CENSUS2010POP'],ascending=False).groupby('STNAME').head(3)
#     print(cen.head(12) )
    cen_group = cen.groupby('STNAME').sum().sort_values(['CENSUS2010POP'],ascending=False).head(3)
#     print(cen_group.head(10))
    ls = []
    for index,row in cen_group.iterrows():
        ls.append(index)
    return ls
answer_six()

      SUMLEV  REGION  DIVISION  STATE  COUNTY         STNAME  \
3180      50       4         8     56      21        Wyoming
3182      50       4         8     56      25        Wyoming
3172      50       4         8     56       5        Wyoming
3137      50       2         3     55      79      Wisconsin
3109      50       2         3     55      25      Wisconsin
3164      50       2         3     55     133      Wisconsin
3060      50       3         5     54      39  West Virginia
3042      50       3         5     54       3  West Virginia
3046      50       3         5     54      11  West Virginia
3017      50       4         9     53      33     Washington
3027      50       4         9     53      53     Washington
3031      50       4         9     53      61     Washington

               CTYNAME  CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
3180    Laramie County          91738              91881            92271
3182    Natrona County          75450              75450            75472
3172   Campbell County          46133              46133            46244
3137  Milwaukee County         947735             947736           948301
3109       Dane County         488073             488075           489187
3164   Waukesha County         389891             389938           390076
3060    Kanawha County         193063             193058           192939
3042   Berkeley County         104169             104172           104646
3046     Cabell County          96319              96316            96369
3017       King County        1931249            1931256          1937699
3027     Pierce County         795225             795229           795422
3031  Snohomish County         713335             713330           715515

         ...       RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  \
3180     ...              -1.200428         15.547274          4.787847
3182     ...               7.189319         23.066162         24.322042
3172     ...              -2.843479         15.601020         -5.895711
3137     ...              -4.417899         -5.257085         -5.581617
3109     ...               5.468267          4.529574          3.392786
3164     ...              -0.765799          2.128860          0.038132
3060     ...              -3.486747          0.489521         -2.425191
3042     ...               4.906062          7.784296          8.403712
3046     ...               1.689758          1.002791          0.092837
3017     ...               5.141363          5.472471          5.662073
3027     ...               1.940276          0.261251         -0.170414
3031     ...               0.605003          5.006397          8.056249

      RDOMESTICMIG2014  RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
3180         -1.226133          0.278940    -0.973320    17.914554
3182         -0.958472         -0.061057     7.689674    23.749508
3172         -8.550911         10.916963    -2.649606    15.558684
3137         -8.303054         -8.604921    -2.352634    -2.953702
3109          3.107322          2.481328     8.430668     7.729273
3164          0.760109         -0.719858     0.102448     3.180527
3060         -4.738889         -8.824703    -3.128199     1.124856
3042         11.389012          8.385254     5.600137     8.574007
3046         -3.322773         -2.055031     2.716053     2.243358
3017          3.337122          2.840873    11.616146    12.013317
3027          5.168140          5.723786     3.714170     3.765229
3031          7.957886          6.603487     3.660617     8.417289

      RNETMIG2013  RNETMIG2014  RNETMIG2015
3180     6.003143    -0.207819     1.673640
3182    25.085233    -0.110593     0.793743
3172    -5.916543    -8.509402    10.978525
3137    -3.114494    -5.344614    -5.623163
3109     6.874337     7.038202     6.383028
3164     1.189727     2.077633     0.593567
3060    -1.861921    -4.094107    -8.164171
3042     9.127210    12.220127     9.203986
3046     1.402865    -1.795536    -0.536993
3017    12.704538    11.206066    10.589099
3027     2.480196     7.920039     8.699104
3031    11.496756    11.768105    10.410479

[12 rows x 100 columns]

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [15]:
def answer_seven():
    census_df['max'] = (census_df.loc[:,['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']]).max(axis=1) 
    census_df['min'] = (census_df.loc[:,['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']]).min(axis=1)       
    str1 = census_df.loc[(census_df['max']-census_df['min']).abs().idxmax()]
    return str1.CTYNAME
answer_seven()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [16]:
def answer_eight():
    cen_reg = census_df[((census_df['REGION'] == 1) | (census_df['REGION'] == 2))]
    cen_cnt = cen_reg[(cen_reg['CTYNAME'] == 'Washington County') & (cen_reg['POPESTIMATE2015']>cen_reg['POPESTIMATE2014'])]
    return cen_cnt.loc[:,('STNAME','CTYNAME')]
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County